log/
A_actionPlans/
B_fullPlans/
C_operatorPlans/
__pycache__/
found_plans/
output/

*.prof
exe_plan.pk
output.sas
instantiated_actions.pk
A_ap_domain.pddl
A_ap_problem.pddl
B_fp_domain.pddl
B_fp_problem.pddl
C_op_domain.pddl
C_op_problem.pddl
