# log/*.log
*.log
*.csv
*.tmp
*.pdf
*.mkv
*.mp4
*.bak
*.model
table*/
A_actionPlans/

B_fullPlans/
C_operatorPlans/
__pycache__/
found_plans/
output/
examples/*.png

*.prof
exe_plan.pk
output.sas
instantiated_actions.pk
A_ap_domain.pddl
A_ap_problem.pddl
B_fp_domain.pddl
B_fp_problem.pddl
C_op_domain.pddl
C_op_problem.pddl


examples/Darias/training_cnn_simple/cnn_fv_*
examples/Darias/TASK_random/random_scenes/